<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:netfx="http://wixtoolset.org/schemas/v4/wxs/netfx" xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">
  <?include IS.wxi?>
	<Product Id="*" Name="$(var.rfidAppName)" Language="1049" Version="1.0.0.0" Codepage="$(var.CodePage)" Manufacturer="$(var.Manufactured)" UpgradeCode="fdfe029f-bddd-4fe3-88d6-de417b90d099">
		<Package InstallerVersion="200" Compressed="yes" Platform="x86" SummaryCodepage="$(var.CodePage)" InstallPrivileges="elevated" />

    <Icon Id="AddRemoveProgramsIcon" SourceFile="$(var.rfidIcoFile)"/>
    <Property Id="ARPPRODUCTICON" Value="AddRemoveProgramsIcon" />
		<MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeErrorMessage)" />
		<MediaTemplate EmbedCab="yes" CompressionLevel="high" />

    <PropertyRef Id="WIX_IS_NETFRAMEWORK_40_OR_LATER_INSTALLED"/>
    <Condition Message='!(loc.NetFrameworkMinimum)'>
      <![CDATA[Installed OR WIX_IS_NETFRAMEWORK_40_OR_LATER_INSTALLED]]>
    </Condition>
    <Condition Message="!(loc.WindowsVersion)">
      <![CDATA[Installed OR VersionNT >= 601]]>
    </Condition>
    <Condition Message="!(loc.Privileged)">
      Privileged
    </Condition>
    
		<Feature Id="ProductFeature" Title="$(var.rfidAppName)" Level="1">
			<ComponentGroupRef Id="cg.marc.cloud.rfid" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
        <Directory Id="ManufacturedFolder" Name="$(var.Manufactured)">
          <Directory Id="INSTALLFOLDER" Name="$(var.rfidAppName)" />
        </Directory>
      </Directory>
		</Directory>
	</Fragment>

  <Fragment>
    <InstallExecuteSequence>
    </InstallExecuteSequence>
  </Fragment>
</Wix>
